{% extends 'base.html' %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/user_edit.css' %}"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="frame">
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="" method="post" name="form">
                <label for="fullname">Фамилия</label>
                    <input class="form-styling" type="text" name="lastname" placeholder=""/>
                <label for="fullname">Имя</label>
                    <input class="form-styling" type="text" name="firstname" placeholder=""/>
                <label for="fullname">Отчество</label>
                    <input class="form-styling" type="text" name="middlename" placeholder=""/>
                <label for="dlno">Номер телефона</label>
                    <input class="form-styling" type="text" name="phone" placeholder=""/>
                <label for="dlno">email</label>
                    <input class="form-styling" type="text" name="email" placeholder=""/>
                <div class="btn-animate">
                    <form action="{% url 'teachers' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-default" title="Add"><i class="fa fa-sync-alt"></i>Добавить</button>
                    </form>
                </div>
                <div class="btn-animate"> <a href="{% url 'users' %}" class="btn-signin">Назад</a> </div>
            </form>
            </div>
        </div>
</div>

{% endblock %}
