{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}"/>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <input value="{{ admin_name }}" name="admin_name" pattern="^[A-Za-z0-9]+$" title="только буквы">

        <select class="form-select form-select-lg mb-3" name="admin_privilege" aria-label=".form-select-lg example">
            <option> admin</option>
            <option> moderator</option>
            <option> viewer</option>
        </select>
        <button class="" type="submit"> Изменить</button>
    </form>

{% endblock %}
