{% extends 'base.html' %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/users.css' %}"/>
{% endblock %}

{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
    <input value="Имя" name="admin_name"  title="только буквы">
    <input value="Логин" name="admin_login"  title="только буквы">
    <input value="Пароль" name="admin_password"  title="только буквы">
    <input value="Тип" name="admin_privilege"  title="только буквы">
    <button class="" type="submit"> Создать </button>
    </form>

{% endblock %}
