{% extends 'base.html' %}

{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/table_student.css' %}"/>
<!--    <link rel="stylesheet" href="{% static 'css/users.css' %}"/>-->
{% endblock %}

{% block content %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>




    <div >
    <div class="row">
    {% if data %}
        {#        {% if search_value == 'Академические' %}#}

        <div class="mama">
            <div class="mama2">
                <h4 class="title">Список <span>задолженностей</span></h4>
            </div>
            <div class="card mama2">
                <h5 class="card-header">Добавить задолженности</h5>
                <div class="card-body">
                    <div class="handle_add">
                <a href="/debts/create_debt"><button class="btn btn-primary"> Добавить вручную</button></a>
               {% if modal_add %}
                  <script>document.querySelector("#addModal").addEventListener() </script>
               {% endif %}
           </div>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="file-input">
                    <input class="form-control " accept=".csv, .json" type="file" name="document">
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
    </div>
            <div class="dropdown mama2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <select class="form-select form-select-lg mb-3" name='search' aria-label=".form-select-lg example"
                            onchange="this.form.submit()">
                        {% for query in query_list %}
                            <option {% if query == search_value %} selected {% endif %}> {{ query }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            {% if modal_add %}
                <script>document.querySelector("#addModal").addEventListener() </script>
            {% endif %}
            <div class="col-md-offset-1 col-md-10">
                <div class="panel">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID задолженности</th>
                                <th>Дата погашения</th>
                                <th>ID студента</th>
                                <th>Подробнее</th>
                                {#                                    <th>Удалить</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for debt in data %}
                                <tr>
                                    <td>{{ debt.debt_id }}</td>
                                    <td>{{ debt.delivery_date }}</td>
                                    <td>{{ debt.student_id }}</td>
                                    <td><a href="/debts/{{ debt.debt_id }}">
                                        <button type='button' class="btn btn-primary" title="Reload"><i
                                                class="fa fa-sync-alt"></i>Подробнее
                                        </button>
                                    </a></td>
                                    {% if modal %}
                                        <script>document.querySelector("#exampleModal").addEventListener() </script>
                                    {% endif %}
                                    {#                                        <td>#}
                                    {#                                            <form action="" method="POST">#}
                                    {#                                                {% csrf_token %}#}
                                    {#                                                <a href="/debts/delete_debts/{{ debt.debt_id }} ">Удалить</a>#}
                                    {#                                            </form>#}
                                    {#                                        </td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {#        {% endif %}#}
    {% endif %}
    {% if debt and modal %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Подробнее</h1>
                        <a href="/debts">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </a>
                    </div>
                    <div class="modal-body">
                        <label for="fullname">Фамилия</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ user.student_lastname }}" disabled/>
                        <label for="fullname">Имя</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ user.student_firstname }}" disabled/>
                        <label for="fullname">Отчество</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ user.student_middlename }}" disabled/>
                        <label for="dlno">Номер зачетной книжки</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ user.student_record_number }}" disabled/>
                        <label for="dlno">Комментарий</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ debt.commentary }}" disabled/>
                        <label for="dlno">Дата погашения</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ debt.delivery_date }}" disabled/>
                        <label for="dlno">Группа</label>
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ user.student_group }}" disabled/>
                        {% if user.student_email %}
                            <label for="dlno">email</label>
                            <input class="form-styling" type="text" name="username" placeholder=""
                                   value="{{ user.student_email }}" disabled/>
                        {% endif %}
                        {% if search_value == 'Академические' %}
                            <label for="dlno">Предмет</label>
                        {% endif %}
                        {% if search_value == 'Денежные' %}
                            <label for="dlno">Сумма задолженности</label>
                        {% endif %}
                        <input class="form-styling" type="text" name="username" placeholder=""
                               value="{{ debt.subject }}" disabled/>
                    </div>
                    <div class="modal-footer">
                        <a href="/debts">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                        </a>
                        <form action="/debts/{{ debt.debt_id }}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Удалить</button>
                        </form>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% if modal_add %}
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление</h1>
                        <a href="/debts">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </a>
                    </div>
                    <form action="" method="POST">
                        <div class="modal-body">
                            {% csrf_token %}
                            <label for="id">id студента</label>
                            <input class="form-styling" type="number" name="id" placeholder=""
                                   value="" title="только цифры" required/>
                            <label for="fullname">Комментарий</label>
                            <input class="form-styling" type="text" name="commentary" placeholder=""
                                   value="" title="" required/>
                            <label for="fullname">Дата</label>
                            <input class="form-styling" type="date" name="date" placeholder=""
                                   value="" required/>
                            {% if search_value == 'Академические' %}
                                <label for="dlno">Предмет</label>
                                <input class="form-styling" type="text" name="subject" placeholder=""
                                       value="" title="только буквы" pattern="[а-яА-я]{0,19}" required/>
                            {% endif %}
                            {% if search_value == 'Денежные' %}
                                <label for="dlno">Сумма задолженности</label>
                                <input class="form-styling" type="number" name="subject" placeholder=""
                                       value="" title="только цифры" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"
                                       required/>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <a href="/debts">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                            </a>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--
<div class="">
    <div class="">
        <table>
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Вид задолженности</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ЗАыфв</td>
                    <td>в</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>

    </div>
</div>

<h2 class=my_h2>I am from inside my_templates dir , register.html page</h2>
<input type=button value='Click me' id='b1'>
<div id=t1></div>
-->


<script>
    $(document).ready(function () {

        $("#b1").click(function () {
            $("#t1").html('You clicked the button');
        });


    });
</script>



