{% extends 'base.html' %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/users.css' %}"/>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input accept=".csv, .json" type="file" name="document">
    <button type="submit">Загрузить</button>
</form>
<a href="add_teacher/">Создать</a>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ф.И.О.</th>
                                <th>Номер телефона</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers_data %}
                            <tr>
                                <td>{{ teacher.teacher_id }}</td>
                                <td>{{ teacher.teacher_name }}</td>
                                <td>{{ teacher.teacher_phone }}</td>
                                <td>
                                    <a href="/teachers/{{ teacher.teacher_id }}">Подробнее</a>
                                </td>
                                <td>
                                    <a href="/teachers/delete_teacher/{{ teacher.teacher_id }}">Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
