{% extends 'base.html' %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/user_edit.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="frame">
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="" method="post" name="form">
              <label for="fullname">Фамилия</label>
                <input class="form-styling" type="text" name="username" placeholder="" value="{{ user_FIO.0 }}" />
              <label for="fullname">Имя</label>
                <input class="form-styling" type="text" name="username" placeholder="" value="{{ user_FIO.1 }}" />
              <label for="fullname">Отчество</label>
                <input class="form-styling" type="text" name="username" placeholder="" value="{{ user_FIO.2 }}" />
              <label for="dlno">Номер зачетной книжки</label>
                <input class="form-styling" type="text" name="username" placeholder="" value="{{ user.Gradebook_number }}" />
              <label for="password">Логин</label>
                <input class="form-styling" type="text" name="password" placeholder="" value="{{ user.Login }}" />
              <div class="btn-animate"> <a class="btn-signin">Сохранить изменения</a> </div>
              <div class="btn-animate"> <a class="btn-signin">Назад</a> </div>
            </form>
            </div>
        </div>
</div>
{% endblock %}
