{% extends 'base.html' %}

{% load static %}
{% block head %}
          <link rel="stylesheet" href="{% static 'css/table_student.css' %}"/>
          <link rel="stylesheet" href="{% static 'css/users.css' %}"/>
{% endblock %}

{% block content %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <div class = "mama">
               <h4 class="title">Список <span>студентов</span></h4>
     </div>
          <div class="mama">
                    <div class="panel-heading">
                        <div class="row">

                            <div class="col-sm-3 col-xs-12">

                                    <div class="btn-group" role="group" aria-label="Basic example">

                                    <form action="{% url 'users' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="form-control" placeholder="Поиск" name="search">

                                    </form>
                                    <div class = "mama1">
                                        <a href="/users" class="btn btn-primary" title="Reload">Сбросить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          </div>
    <div class = "mama">
        <div class="row">



                    <div class="panel-body table-responsive" >
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ф.И.О.</th>
                                <th>Номер зачетной книжки</th>
                                <th>Почта</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user_data %}
                                <tr>
                                    <td>{{ user.student_id }}</td>
                                    <td>{{ user.student_lastname }} {{ user.student_firstname }} {{ user.student_middlename }}</td>
                                    <td>{{ user.student_record_number }}</td>
                                    <td>{{ user.student_email }}</td>
                                    {% if perms.exchange_app.change_users %}
                                        <td>
                                            <a href="/users/{{ user.student_id }}"><button type = 'button' value='/users/{{ user.student_id }}'  class="btn btn-primary" title="Reload"><i class="fa fa-sync-alt"></i>Подробнее
                                        </button></a></td>
                                        {% if modal %}
                                            <script>document.querySelector("#exampleModal").addEventListener() </script>
                                        {% endif %}
                                        {#                                <td>#}
                                        {#                                    <form action="{% url 'users' %}" method="POST">#}
                                        {#                                        {% csrf_token %}#}
                                        {#                                        <button class="btn btn-default" title="Delete"><i class="fa fa-sync-alt"></i>Удалить</button>#}
                                        {#                                    </form>#}
                                        {#                                </td>#}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


     {% if user and modal %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Подробнее</h1>
                        <a href="/users">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </a>
                    </div>
                    <form action="" method="POST">
                        <div class="modal-body">
                            {% csrf_token %}
                            <label for="fullname">Фамилия</label>
                            <input class="form-styling" type="text" name="lastname" placeholder=""
                                   value="{{ user.student_lastname }}" pattern="[А-Яа-я]{2,32}" required/>
                            <label for="fullname">Имя</label>
                            <input class="form-styling" type="text" name="firstname" placeholder=""
                                   value="{{ user.student_firstname }}" pattern="[А-Яа-я]{2,32}" required/>
                            <label for="fullname">Отчество</label>
                            <input class="form-styling" type="text" name="middlename" placeholder=""
                                   value="{{ user.student_middlename }}" pattern="[А-Яа-я]{2,32}" required/>
                            <label for="dlno">Номер зачетной книжки</label>
                            <input class="form-styling" type="number" name="recordnumber" placeholder=""
                                   value="{{ user.student_record_number }}"/>
                            <label for="password">email</label>
                            <input class="form-styling" type="email" name="email" placeholder=""
                                   value="{{ user.student_email }}" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                            <select class="form-styling" name="group"
                                    aria-label=".form-select-lg example">
                                {% for group in groups %}
                                        <option {% if user.student_group == group %}
                                            selected {% endif %}> {{ group }}</option>
                                    {% endfor %}
                            </select>
                            <label for="password">eos login</label>
                            <input class="form-styling" type="text" name="eos_login" placeholder=""
                                   value="{{ user.student_eos_login }}" pattern="[a-zA-Z][a-zA-Z0-9]{0,19}"/>
                            <label for="password">eos password</label>
                            <input class="form-styling" type="text" name="eos_password" placeholder=""
                                   value="{{ user.student_eos_password }}" pattern="[a-zA-Z][a-zA-Z0-9]{0,19}"/>
                        </div>
                        <div class="modal-footer">
                            <a href="/users">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                            </a>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



