{% extends 'base.html' %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/users.css' %}"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Data <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">

                                <form action="{% url 'users' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" placeholder="Search" name="search">
                                </form>
                                <form action="{% url 'users' %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i> сбросить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ф.И.О.</th>
                                <th>Номер зачетной книжки</th>
                                <th>Логин</th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for user in user_data %}
                            <tr>
                                <td>{{ user.ID }}</td>
                                <td>{{ user.FIO }}</td>
                                <td>{{ user.Gradebook_number }}</td>
                                <td>{{ user.Login }}</td>
                                <td>
                                    <form action="{% url 'users' %}" method="get">
                                        <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i> сбросить</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'users' %}" method="get">
                                        <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i> сбросить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                        <div class="col-sm-6 col-xs-6">
                            <ul class="pagination hidden-xs pull-right">
                                <li><a href="#"><</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">></a></li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#"><</a></li>
                                <li><a href="#">></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
