.mama{
    margin: 2% 10% 2% 10%;
}
table {width: 100%; text-align: center; border-bottom: 2px solid #dfdfdf; border-radius: 6px; border-collapse: separate; border-spacing: 0px;}
table thead tr {color: #ffffff; font-weight: bold; background: #0d6efd;}
table tr td {border-right: 1px solid #dfdfdf;}
table tr td:last-child {border-right: 0px;}
table tbody tr:nth-child(1n) {background: #f6f6f6;}
table tbody tr:nth-child(2n) {background: #e6e6e6;}
table tbody tr:hover {background: #ffe8e8; transition-duration: 0.6s;}
.mama1{
    margin-left: 6%;
}
.mama2
{
    margin: 1% 1% 1% -0.1%;

}
.mama3
{
    margin: 1% 1% 1% -0.1%;

}